.footer{
    width: 100%;
    height: 300px;
    background-color: transparent;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.footer::before{
    content: "";
    z-index: 1;
    position: absolute;
    bottom: -160px;
    left: -84px;
    width: 111%;
    height: 300px;
    border-radius: 250px 180px 0px 0px;
    background: linear-gradient(to top right, #6cdaff 0%, #349de9 100%);
    transform: skewX(18deg) rotate(352deg);
}
.footer-social{
    z-index: 2;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer-social a {
    margin: 10px 20px;
}
.footer a:hover{
    transform: scale(1.2);
    transition: all .4s linear;
}
.copy{
    z-index: 2;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px 0px;
}
.copy p{
    font-size: 14px;
}
.copy a{
    text-decoration: none !important;
}
.copy a:hover{
    text-shadow: 1px 1px 20px #ffffff;
}
/* >>>>> Responsive <<<<<  */
@media only screen and (max-width: 414px) {
    .footer {
        height: 180px;
    }
    .footer::before{
        width: 155%;
    }
}