@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url("https://fonts.googleapis.com/css?family=Monoton");
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html {
    scroll-behavior: smooth;
}

:root{
    --celeste: #349de9;
    --negro: #232626;
    --gris: #707070;
    --gris-claro: #ced4da;
    --blanco: #ffffff;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(13deg, #6b8eff 14%,#349de9 64%);
    border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(13deg, #349de9 14%,#6b8eff 64%);
}
::-webkit-scrollbar-track{
    background: #ffffff;
    border-radius: 2px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
}

::selection {
    background: #fbff06;
    color: #232626;
}

/* ===== sets =====  */
section{
    padding: 4em 0em;
}

.section-titulo{
    width: 100%;
    height: 400px;
}

/* ==================
|     Main Section  |
================== */
.main-home{
    width: 100vw;
    /* height: calc(100vh - 8vh); */
    height: 100vh;
    background-color: #349DE9;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    
    position: relative;
}
.main-title{
    z-index: 2;
    width: 25%;
    height: auto;
    color: var(--blanco);
}
.main-title h1{
    font-weight: 900;
    font-size: 3em;
}
.main-title h1:hover{
    background-color: #fbff06;
    color: var(--negro);
}
.main-title p{
    opacity: 0.8;
    line-height: 18px;
}
.main-cont-img{
    width: 35%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-img{
    z-index: 2;
    width: 100%;
    max-width: 650px;
    height: auto;
    animation: bounce2 2s linear infinite;
}

@keyframes bounce2 {
    /* 0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);} */
    0%{transform: translateY(-35px);}
    50% {transform: translateY(0px);}
    100%{transform: translateY(-35px);}
}

.shadow{
    width: 50%;
    height: 40px;
    border-radius: 50%;
    background-color: #0d68a98c;
    filter: blur(5px);
    box-shadow: 0px 0px 50px #0d68a98c;
    animation: shadow2 2s linear infinite;
}

@keyframes shadow2 {
    0%{width: 50%;}
    50% {width: 75%;}
    100%{width: 50%;}
}

/* >>>>> Responsive <<<<<  */
@media only screen and (max-width: 414px) {
    .main-home{
        flex-direction: column;
    }
    .main-title{
        width: 95%;
        padding: 15px 15px 0px 15px;
    }
    .main-cont-img {
        width: 80%;
    }
}
/* ==================
|   Quienes Somos   |
================== */
.section-nosotros{
    width: 100vw;
    height: 60vh;
    margin: 4em 0em;
}
.nos-text h2{
    font-weight: 900;
    font-size: 2.5em;
}
.nos-text p{
    color: var(--gris);
}

.nos-cont-img .nos-main-img{
    width: 90%;
}

.nos-cont-img .star{
    position: absolute;
    animation: bounce2 2s linear infinite;
}

.star:hover{
    transition: all .4s linear;
    filter: invert(100%);
    cursor: pointer;
}

.nos-cont-img .star-1{
    width: 26px;
    left: 2%;
    top: 9%;
    animation-delay: .2s;
}
.nos-cont-img .star-2{
    width: 65px;
    left: 71%;
    top: 3%;
    opacity: .5
}
.nos-cont-img .star-3{
    width: 50px;
    left: 47%;
    bottom: 0%;
    animation-delay: .4s;
}
.nos-cont-img .star-4{
    width: 40px;
    left: 86%;
    bottom: 36%;
    animation-delay: .8s;
}

/* >>>>> Responsive <<<<<  */
@media only screen and (max-width: 414px) {
    .section-nosotros{
        height: auto;
    }
}

/* ===================================
|   Norte = Vision Mision Vladlores   |
==================================== */
.norte{
    width: 100vw;
    height: 60vh;
    margin: 4em 0em;
    background-color: #e8f5ff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.thumb{
    width: 100%;
    height: 300px;
    background-color: var(--blanco);
    border: 1px solid var(--celeste);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 15px 15px 15px;
    text-align: center;
}
.thumb:hover{
    transform: translateY(-15px);
    box-shadow: 1px 5px 30px #349ee980;
    border: 1px solid var(--blanco);
    transition: all .4s linear;
}
.thumb p{
    color: var(--gris);
}
.thumb p:last-child{
    text-align: left;
}

/* -- svg blub --  */
svg {
    width: 200px;
  }
  svg path {
    cursor: pointer;
    -webkit-animation: blob 2s infinite forwards;
            animation: blob 2s infinite forwards;
    transform-origin: 50% 50%;
    fill: #349de9;
  }
  svg path:hover {
    fill: #34c2e9;
  }
  svg text {
    font-size: 45px;
    font-weight: bold;
  }
  
  @-webkit-keyframes blob {
    25% {
      d: path("M 90 210 C 90 180 110 160 130 160 C 160 160 180 140 200 130 C 230 120 270 100 290 140 C 310 170 340 100 360 140 C 370 160 390 180 390 210 C 390 240 380 290 350 280 C 330 270 300 280 280 290 C 260 300 230 300 220 290 C 200 270 160 310 140 280 C 130 260 90 240 90 210 ");
      transform: rotate(-5deg);
    }
    50% {
      d: path("M 90 210 C 90 180 100 150 120 130 C 150 100 180 140 200 130 C 230 120 270 100 290 140 C 300 160 330 130 360 140 C 390 150 390 180 390 210 C 390 240 380 300 350 280 C 330 270 320 230 280 260 C 260 280 220 310 200 290 C 180 270 160 280 140 280 C 110 280 90 240 90 210");
    }
    75% {
      d: path("M 90 210 C 90 180 110 180 130 170 C 150 160 170 130 200 130 C 240 130 260 150 290 140 C 310 130 340 120 360 140 C 380 160 390 180 390 210 C 390 240 380 260 350 270 C 320 280 290 270 270 260 C 240 250 230 280 210 290 C 180 310 130 300 110 280 C 90 260 90 240 90 210");
      transform: rotate(5deg);
    }
  }
  
  @keyframes blob {
    25% {
      d: path("M 90 210 C 90 180 110 160 130 160 C 160 160 180 140 200 130 C 230 120 270 100 290 140 C 310 170 340 100 360 140 C 370 160 390 180 390 210 C 390 240 380 290 350 280 C 330 270 300 280 280 290 C 260 300 230 300 220 290 C 200 270 160 310 140 280 C 130 260 90 240 90 210 ");
      transform: rotate(-5deg);
    }
    50% {
      d: path("M 90 210 C 90 180 100 150 120 130 C 150 100 180 140 200 130 C 230 120 270 100 290 140 C 300 160 330 130 360 140 C 390 150 390 180 390 210 C 390 240 380 300 350 280 C 330 270 320 230 280 260 C 260 280 220 310 200 290 C 180 270 160 280 140 280 C 110 280 90 240 90 210");
    }
    75% {
      d: path("M 90 210 C 90 180 110 180 130 170 C 150 160 170 130 200 130 C 240 130 260 150 290 140 C 310 130 340 120 360 140 C 380 160 390 180 390 210 C 390 240 380 260 350 270 C 320 280 290 270 270 260 C 240 250 230 280 210 290 C 180 310 130 300 110 280 C 90 260 90 240 90 210");
      transform: rotate(5deg);
    }
  }
/* >>>>> Responsive <<<<<  */
@media only screen and (max-width: 414px) {
    .norte{
        height: auto;
    }
    .thumb{
        margin-bottom: 25px;
    }
    .thumb p{
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
    }
}

/* ==================
|    Testimonio     |
================== */
.testimonio-section{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: #bde7ff; */
    background-image: url(/images/contactos-2.png);
    background-position: 144%, -50%;
    background-repeat: no-repeat;
    background-size: 50%;
}
.titulo{
    margin-bottom: 40px;
}
.testimonio-slide{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.testimonio-thumb{
    width: 350px !important;
    height: auto;
    border-radius: 15px;
    border: #349de9 1px solid;
    overflow: hidden;
    padding: 2px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #ffffff;
    margin: 10px 10px;
}
.testimonio-thumb:hover{
    box-shadow: 0px 20px 30px #bde7ff;
    transition: all .4s linear;
}
.testimoniante{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    overflow: hidden;
    /* border: 2px solid #ffffff; */
    box-shadow: 0px 10px 30px #bde7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    margin-top: 10px;
}
.testimoniante img{
    width: 60px;
}
.testimonio-txt{
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 15px;
    margin: 20px 0px;
}
.testimonio-txt p{
    margin: 0px;
    font-size: 13px;
    font-weight: 300;
    color: #17141d;
}
.testimonio-name {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


/* ***************
|     Arrows     |
*************** */
.slide-arrows{
    margin: 0 auto;
    width: 70px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.arrow{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #349DE9;
    box-shadow: 0px 5px 20px #349DE9;
    color: #bde7ff;
    font-weight: bold;
    text-align: center;
    margin: 0px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow img{
    width: 20px;
    height: auto;
}
.slick-track{
    width: 100%;
    display: flex;
}

/* ==================
|        Form        |
================== */
.formulario-title{
    text-align: center;
    font-size: 4em;
    font-weight: bold;
}
.btn-listo{
    padding: 10px 49px;
    background-color: var(--celeste);
    color: var(--blanco);
    border: none;
    border-radius: 50px;
}
.btn-listo:hover{
    color: var(--blanco);
    cursor: pointer;
    transition: all .4s linear;
    box-shadow: 1px 1px 25px #349ee98e;  
}

/* >>>>> Responsive <<<<<  */
@media only screen and (max-width: 414px) {
    .formulario-title {
        font-size: 2em;
    }
}


/* ================
|      Admin      |
================ */
/* .admin-logout {
    padding: 1px 18px;
    background-color: #fff;
    border-radius: 21px;
} */

/* ================
|     Enviado     |
================ */
.main-enviado{
    width: 100vw;
    height: 100vh;
    background-color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.title-cv {
    display: inline;
    font-size: 15vw;
    text-transform: uppercase;
    color: #75e3ff;
    font-family: "Monoton", Helvetica, sans-serif;
  }
  @media (min-width: 700px) {
    .title-cv {
      font-size: 9vw;
    }
  }
  @media (min-width: 1400px) {
    .title-cv {
      font-size: 150px;
    }
  }
  
  @supports (-webkit-background-clip: text) {
    .title-cv {
      color: transparent;
      background: linear-gradient(7deg, #75e3ff 50%, #043a79 0);
      -webkit-background-clip: text;
    }
  }

/* --- otro texto ---  */

.movido {
    font-size:5em;
    font:bold 7.5vw/1.6 'Signika', sans-serif;
    user-select:none;
   }
   
   .movido .span-enviado { display:inline-block; animation:float .2s ease-in-out infinite; }
    @keyframes float {
     0%,100%{ transform:none; }
     33%{ transform:translateY(-1px) rotate(-2deg); }
     66%{ transform:translateY(1px) rotate(2deg); }
   }
   body:hover .span-enviado { animation:bounce .6s; }
   @keyframes bounce {
     0%,100%{ transform:translate(0); }
     25%{ transform:rotateX(20deg) translateY(2px) rotate(-3deg); }
     50%{ transform:translateY(-20px) rotate(3deg) scale(1.1);  }
   }
   
   .span-enviado{ color:#349de9; text-shadow:1px 1px #2283c9, 2px 2px #1377be, 3px 3px #1377be, 4px 4px #2283c9; }
   /*.span-enviado:nth-child(4n) { color:#349de9; text-shadow:1px 1px #2283c9, 2px 2px #1377be, 3px 3px #1377be, 4px 4px #2283c9; }
   .span-enviado:nth-child(4n-1) { color:#64b478; text-shadow:1px 1px #4b9b5f, 2px 2px #4b9b5f, 3px 3px #4b9b5f, 4px 4px #4b9b5f; }
   .span-enviado:nth-child(4n-2) { color:#75bd9f; text-shadow:1px 1px #609f85, 2px 2px #609f85, 3px 3px #609f85, 4px 4px #609f75; }
   .span-enviado:nth-child(4n-3) { color:#db9957; text-shadow:1px 1px #b98046, 2px 2px #b98046, 3px 3px #b98046, 4px 4px #b98046; } */
   
   .movido .span-enviado:nth-child(2){ animation-delay:.05s; }
   .movido .span-enviado:nth-child(3){ animation-delay:.1s; }
   .movido .span-enviado:nth-child(4){ animation-delay:.15s; }
   .movido .span-enviado:nth-child(5){ animation-delay:.2s; }
   .movido .span-enviado:nth-child(6){ animation-delay:.25s; }
   .movido .span-enviado:nth-child(7){ animation-delay:.3s; }
   .movido .span-enviado:nth-child(8){ animation-delay:.35s; }
   .movido .span-enviado:nth-child(9){ animation-delay:.4s; }
   .movido .span-enviado:nth-child(10){ animation-delay:.45s; }
   .movido .span-enviado:nth-child(11){ animation-delay:.5s; }
   .movido .span-enviado:nth-child(12){ animation-delay:.55s; }
   .movido .span-enviado:nth-child(13){ animation-delay:.6s; }
   .movido .span-enviado:nth-child(14){ animation-delay:.65s; }

   /* particulas  */
   .particle {
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
  }
  
  @-webkit-keyframes particle-animation-1 {
    100% {
      transform: translate3d(73vw, 63vh, 75px);
    }
  }
  
  @keyframes particle-animation-1 {
    100% {
      transform: translate3d(73vw, 63vh, 75px);
    }
  }
  .particle:nth-child(1) {
    -webkit-animation: particle-animation-1 60s infinite;
            animation: particle-animation-1 60s infinite;
    opacity: 0.41;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s;
    transform: translate3d(36vw, 60vh, 91px);
    background: #26d93b;
  }
  
  @-webkit-keyframes particle-animation-2 {
    100% {
      transform: translate3d(54vw, 5vh, 52px);
    }
  }
  
  @keyframes particle-animation-2 {
    100% {
      transform: translate3d(54vw, 5vh, 52px);
    }
  }
  .particle:nth-child(2) {
    -webkit-animation: particle-animation-2 60s infinite;
            animation: particle-animation-2 60s infinite;
    opacity: 0.97;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s;
    transform: translate3d(50vw, 59vh, 73px);
    background: #26d950;
  }
  
  @-webkit-keyframes particle-animation-3 {
    100% {
      transform: translate3d(64vw, 3vh, 11px);
    }
  }
  
  @keyframes particle-animation-3 {
    100% {
      transform: translate3d(64vw, 3vh, 11px);
    }
  }
  .particle:nth-child(3) {
    -webkit-animation: particle-animation-3 60s infinite;
            animation: particle-animation-3 60s infinite;
    opacity: 0.33;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s;
    transform: translate3d(6vw, 19vh, 19px);
    background: #d926c4;
  }
  
  @-webkit-keyframes particle-animation-4 {
    100% {
      transform: translate3d(61vw, 58vh, 52px);
    }
  }
  
  @keyframes particle-animation-4 {
    100% {
      transform: translate3d(61vw, 58vh, 52px);
    }
  }
  .particle:nth-child(4) {
    -webkit-animation: particle-animation-4 60s infinite;
            animation: particle-animation-4 60s infinite;
    opacity: 0.69;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s;
    transform: translate3d(73vw, 68vh, 89px);
    background: #26cdd9;
  }
  
  @-webkit-keyframes particle-animation-5 {
    100% {
      transform: translate3d(29vw, 8vh, 49px);
    }
  }
  
  @keyframes particle-animation-5 {
    100% {
      transform: translate3d(29vw, 8vh, 49px);
    }
  }
  .particle:nth-child(5) {
    -webkit-animation: particle-animation-5 60s infinite;
            animation: particle-animation-5 60s infinite;
    opacity: 0.91;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -1s;
            animation-delay: -1s;
    transform: translate3d(44vw, 88vh, 38px);
    background: #80d926;
  }
  
  @-webkit-keyframes particle-animation-6 {
    100% {
      transform: translate3d(10vw, 33vh, 20px);
    }
  }
  
  @keyframes particle-animation-6 {
    100% {
      transform: translate3d(10vw, 33vh, 20px);
    }
  }
  .particle:nth-child(6) {
    -webkit-animation: particle-animation-6 60s infinite;
            animation: particle-animation-6 60s infinite;
    opacity: 0.3;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -1.2s;
            animation-delay: -1.2s;
    transform: translate3d(62vw, 32vh, 32px);
    background: #9a26d9;
  }
  
  @-webkit-keyframes particle-animation-7 {
    100% {
      transform: translate3d(51vw, 7vh, 68px);
    }
  }
  
  @keyframes particle-animation-7 {
    100% {
      transform: translate3d(51vw, 7vh, 68px);
    }
  }
  .particle:nth-child(7) {
    -webkit-animation: particle-animation-7 60s infinite;
            animation: particle-animation-7 60s infinite;
    opacity: 0.18;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -1.4s;
            animation-delay: -1.4s;
    transform: translate3d(42vw, 42vh, 6px);
    background: #d926a6;
  }
  
  @-webkit-keyframes particle-animation-8 {
    100% {
      transform: translate3d(81vw, 25vh, 73px);
    }
  }
  
  @keyframes particle-animation-8 {
    100% {
      transform: translate3d(81vw, 25vh, 73px);
    }
  }
  .particle:nth-child(8) {
    -webkit-animation: particle-animation-8 60s infinite;
            animation: particle-animation-8 60s infinite;
    opacity: 0.73;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -1.6s;
            animation-delay: -1.6s;
    transform: translate3d(29vw, 20vh, 81px);
    background: #d9b526;
  }
  
  @-webkit-keyframes particle-animation-9 {
    100% {
      transform: translate3d(85vw, 70vh, 86px);
    }
  }
  
  @keyframes particle-animation-9 {
    100% {
      transform: translate3d(85vw, 70vh, 86px);
    }
  }
  .particle:nth-child(9) {
    -webkit-animation: particle-animation-9 60s infinite;
            animation: particle-animation-9 60s infinite;
    opacity: 0.44;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -1.8s;
            animation-delay: -1.8s;
    transform: translate3d(18vw, 42vh, 7px);
    background: #267dd9;
  }
  
  @-webkit-keyframes particle-animation-10 {
    100% {
      transform: translate3d(89vw, 82vh, 12px);
    }
  }
  
  @keyframes particle-animation-10 {
    100% {
      transform: translate3d(89vw, 82vh, 12px);
    }
  }
  .particle:nth-child(10) {
    -webkit-animation: particle-animation-10 60s infinite;
            animation: particle-animation-10 60s infinite;
    opacity: 0.71;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -2s;
            animation-delay: -2s;
    transform: translate3d(15vw, 14vh, 44px);
    background: #91d926;
  }
  
  @-webkit-keyframes particle-animation-11 {
    100% {
      transform: translate3d(86vw, 36vh, 54px);
    }
  }
  
  @keyframes particle-animation-11 {
    100% {
      transform: translate3d(86vw, 36vh, 54px);
    }
  }
  .particle:nth-child(11) {
    -webkit-animation: particle-animation-11 60s infinite;
            animation: particle-animation-11 60s infinite;
    opacity: 0.41;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -2.2s;
            animation-delay: -2.2s;
    transform: translate3d(25vw, 88vh, 45px);
    background: #5f26d9;
  }
  
  @-webkit-keyframes particle-animation-12 {
    100% {
      transform: translate3d(10vw, 64vh, 10px);
    }
  }
  
  @keyframes particle-animation-12 {
    100% {
      transform: translate3d(10vw, 64vh, 10px);
    }
  }
  .particle:nth-child(12) {
    -webkit-animation: particle-animation-12 60s infinite;
            animation: particle-animation-12 60s infinite;
    opacity: 1;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -2.4s;
            animation-delay: -2.4s;
    transform: translate3d(26vw, 57vh, 62px);
    background: #94d926;
  }
  
  @-webkit-keyframes particle-animation-13 {
    100% {
      transform: translate3d(4vw, 42vh, 53px);
    }
  }
  
  @keyframes particle-animation-13 {
    100% {
      transform: translate3d(4vw, 42vh, 53px);
    }
  }
  .particle:nth-child(13) {
    -webkit-animation: particle-animation-13 60s infinite;
            animation: particle-animation-13 60s infinite;
    opacity: 0.08;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -2.6s;
            animation-delay: -2.6s;
    transform: translate3d(20vw, 4vh, 62px);
    background: #d92635;
  }
  
  @-webkit-keyframes particle-animation-14 {
    100% {
      transform: translate3d(88vw, 51vh, 3px);
    }
  }
  
  @keyframes particle-animation-14 {
    100% {
      transform: translate3d(88vw, 51vh, 3px);
    }
  }
  .particle:nth-child(14) {
    -webkit-animation: particle-animation-14 60s infinite;
            animation: particle-animation-14 60s infinite;
    opacity: 0.83;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -2.8s;
            animation-delay: -2.8s;
    transform: translate3d(63vw, 17vh, 52px);
    background: #26d97d;
  }
  
  @-webkit-keyframes particle-animation-15 {
    100% {
      transform: translate3d(50vw, 73vh, 2px);
    }
  }
  
  @keyframes particle-animation-15 {
    100% {
      transform: translate3d(50vw, 73vh, 2px);
    }
  }
  .particle:nth-child(15) {
    -webkit-animation: particle-animation-15 60s infinite;
            animation: particle-animation-15 60s infinite;
    opacity: 0.12;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -3s;
            animation-delay: -3s;
    transform: translate3d(18vw, 51vh, 36px);
    background: #26d965;
  }
  
  @-webkit-keyframes particle-animation-16 {
    100% {
      transform: translate3d(26vw, 90vh, 4px);
    }
  }
  
  @keyframes particle-animation-16 {
    100% {
      transform: translate3d(26vw, 90vh, 4px);
    }
  }
  .particle:nth-child(16) {
    -webkit-animation: particle-animation-16 60s infinite;
            animation: particle-animation-16 60s infinite;
    opacity: 0.24;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -3.2s;
            animation-delay: -3.2s;
    transform: translate3d(22vw, 87vh, 51px);
    background: #26d6d9;
  }
  
  @-webkit-keyframes particle-animation-17 {
    100% {
      transform: translate3d(2vw, 25vh, 59px);
    }
  }
  
  @keyframes particle-animation-17 {
    100% {
      transform: translate3d(2vw, 25vh, 59px);
    }
  }
  .particle:nth-child(17) {
    -webkit-animation: particle-animation-17 60s infinite;
            animation: particle-animation-17 60s infinite;
    opacity: 0.36;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -3.4s;
            animation-delay: -3.4s;
    transform: translate3d(34vw, 41vh, 52px);
    background: #d92638;
  }
  
  @-webkit-keyframes particle-animation-18 {
    100% {
      transform: translate3d(39vw, 53vh, 34px);
    }
  }
  
  @keyframes particle-animation-18 {
    100% {
      transform: translate3d(39vw, 53vh, 34px);
    }
  }
  .particle:nth-child(18) {
    -webkit-animation: particle-animation-18 60s infinite;
            animation: particle-animation-18 60s infinite;
    opacity: 0.93;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -3.6s;
            animation-delay: -3.6s;
    transform: translate3d(16vw, 85vh, 71px);
    background: #9d26d9;
  }
  
  @-webkit-keyframes particle-animation-19 {
    100% {
      transform: translate3d(19vw, 41vh, 8px);
    }
  }
  
  @keyframes particle-animation-19 {
    100% {
      transform: translate3d(19vw, 41vh, 8px);
    }
  }
  .particle:nth-child(19) {
    -webkit-animation: particle-animation-19 60s infinite;
            animation: particle-animation-19 60s infinite;
    opacity: 0.69;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -3.8s;
            animation-delay: -3.8s;
    transform: translate3d(36vw, 51vh, 51px);
    background: #d926b8;
  }
  
  @-webkit-keyframes particle-animation-20 {
    100% {
      transform: translate3d(14vw, 13vh, 2px);
    }
  }
  
  @keyframes particle-animation-20 {
    100% {
      transform: translate3d(14vw, 13vh, 2px);
    }
  }
  .particle:nth-child(20) {
    -webkit-animation: particle-animation-20 60s infinite;
            animation: particle-animation-20 60s infinite;
    opacity: 0.64;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -4s;
            animation-delay: -4s;
    transform: translate3d(81vw, 85vh, 36px);
    background: #d92638;
  }
  
  @-webkit-keyframes particle-animation-21 {
    100% {
      transform: translate3d(41vw, 86vh, 9px);
    }
  }
  
  @keyframes particle-animation-21 {
    100% {
      transform: translate3d(41vw, 86vh, 9px);
    }
  }
  .particle:nth-child(21) {
    -webkit-animation: particle-animation-21 60s infinite;
            animation: particle-animation-21 60s infinite;
    opacity: 0.7;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -4.2s;
            animation-delay: -4.2s;
    transform: translate3d(73vw, 20vh, 33px);
    background: #26d92c;
  }
  
  @-webkit-keyframes particle-animation-22 {
    100% {
      transform: translate3d(6vw, 74vh, 82px);
    }
  }
  
  @keyframes particle-animation-22 {
    100% {
      transform: translate3d(6vw, 74vh, 82px);
    }
  }
  .particle:nth-child(22) {
    -webkit-animation: particle-animation-22 60s infinite;
            animation: particle-animation-22 60s infinite;
    opacity: 0.77;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -4.4s;
            animation-delay: -4.4s;
    transform: translate3d(74vw, 8vh, 44px);
    background: #d3d926;
  }
  
  @-webkit-keyframes particle-animation-23 {
    100% {
      transform: translate3d(14vw, 22vh, 61px);
    }
  }
  
  @keyframes particle-animation-23 {
    100% {
      transform: translate3d(14vw, 22vh, 61px);
    }
  }
  .particle:nth-child(23) {
    -webkit-animation: particle-animation-23 60s infinite;
            animation: particle-animation-23 60s infinite;
    opacity: 0.5;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -4.6s;
            animation-delay: -4.6s;
    transform: translate3d(90vw, 15vh, 54px);
    background: #d9d026;
  }
  
  @-webkit-keyframes particle-animation-24 {
    100% {
      transform: translate3d(89vw, 7vh, 89px);
    }
  }
  
  @keyframes particle-animation-24 {
    100% {
      transform: translate3d(89vw, 7vh, 89px);
    }
  }
  .particle:nth-child(24) {
    -webkit-animation: particle-animation-24 60s infinite;
            animation: particle-animation-24 60s infinite;
    opacity: 1;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -4.8s;
            animation-delay: -4.8s;
    transform: translate3d(65vw, 81vh, 95px);
    background: #c426d9;
  }
  
  @-webkit-keyframes particle-animation-25 {
    100% {
      transform: translate3d(34vw, 34vh, 32px);
    }
  }
  
  @keyframes particle-animation-25 {
    100% {
      transform: translate3d(34vw, 34vh, 32px);
    }
  }
  .particle:nth-child(25) {
    -webkit-animation: particle-animation-25 60s infinite;
            animation: particle-animation-25 60s infinite;
    opacity: 0.09;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -5s;
            animation-delay: -5s;
    transform: translate3d(25vw, 37vh, 85px);
    background: #d9ca26;
  }
  
  @-webkit-keyframes particle-animation-26 {
    100% {
      transform: translate3d(24vw, 65vh, 87px);
    }
  }
  
  @keyframes particle-animation-26 {
    100% {
      transform: translate3d(24vw, 65vh, 87px);
    }
  }
  .particle:nth-child(26) {
    -webkit-animation: particle-animation-26 60s infinite;
            animation: particle-animation-26 60s infinite;
    opacity: 0.6;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -5.2s;
            animation-delay: -5.2s;
    transform: translate3d(61vw, 18vh, 79px);
    background: #26b2d9;
  }
  
  @-webkit-keyframes particle-animation-27 {
    100% {
      transform: translate3d(51vw, 19vh, 21px);
    }
  }
  
  @keyframes particle-animation-27 {
    100% {
      transform: translate3d(51vw, 19vh, 21px);
    }
  }
  .particle:nth-child(27) {
    -webkit-animation: particle-animation-27 60s infinite;
            animation: particle-animation-27 60s infinite;
    opacity: 0.36;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -5.4s;
            animation-delay: -5.4s;
    transform: translate3d(16vw, 32vh, 99px);
    background: #26d932;
  }
  
  @-webkit-keyframes particle-animation-28 {
    100% {
      transform: translate3d(44vw, 3vh, 57px);
    }
  }
  
  @keyframes particle-animation-28 {
    100% {
      transform: translate3d(44vw, 3vh, 57px);
    }
  }
  .particle:nth-child(28) {
    -webkit-animation: particle-animation-28 60s infinite;
            animation: particle-animation-28 60s infinite;
    opacity: 0.03;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -5.6s;
            animation-delay: -5.6s;
    transform: translate3d(13vw, 54vh, 18px);
    background: #7726d9;
  }
  
  @-webkit-keyframes particle-animation-29 {
    100% {
      transform: translate3d(36vw, 35vh, 83px);
    }
  }
  
  @keyframes particle-animation-29 {
    100% {
      transform: translate3d(36vw, 35vh, 83px);
    }
  }
  .particle:nth-child(29) {
    -webkit-animation: particle-animation-29 60s infinite;
            animation: particle-animation-29 60s infinite;
    opacity: 0.43;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -5.8s;
            animation-delay: -5.8s;
    transform: translate3d(12vw, 72vh, 64px);
    background: #d926c1;
  }
  
  @-webkit-keyframes particle-animation-30 {
    100% {
      transform: translate3d(7vw, 40vh, 87px);
    }
  }
  
  @keyframes particle-animation-30 {
    100% {
      transform: translate3d(7vw, 40vh, 87px);
    }
  }
  .particle:nth-child(30) {
    -webkit-animation: particle-animation-30 60s infinite;
            animation: particle-animation-30 60s infinite;
    opacity: 0.03;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -6s;
            animation-delay: -6s;
    transform: translate3d(29vw, 68vh, 69px);
    background: #d9265c;
  }